body {
    font-family: 'Nunito', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
  main {
    flex: 1 0 auto;
  }
  
  .input-field input:focus + label {
    color: #536dfe !important;
  }
  
  .input-field input:focus {
    border-bottom: 1px solid #536dfe !important;
    box-shadow: 0 1px 0 0 #536dfe !important;
  }
  
  .input-field .prefix.active {
    color: #536dfe;
  }

  .circle-with-text {
    justify-content: center;
    align-items: center;
    border-radius: 30%;
    text-align: center;
    display: flex;
    width: 50px;
    height: 50px;
  }